@using TicketingSystemFrontend.Client.DTOs
@using TicketingSystemFrontend.Client.Services
@using TicketingSystemFrontend.Client.Services.Interfaces
@inject ITicketService TicketService

@if (Tickets.Count == 0)
{
    <p>Loading tickets...</p>
}
else
{
    @foreach (var ticket in Tickets)
    {
        <TicketCard Ticket="ticket" />
    }
}

@code {
    [Parameter]
    public List<TicketDto> Tickets { get; set; } = new();

}
