@inherits LayoutComponentBase
@using TicketingSystemFrontend.Client.Pages.Components
<CascadingAuthenticationState>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
            <!-- Logo -->
            <a href="/" class="d-flex align-items-center mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="@Assets["favicon.png"]" alt="My Logo" width="64" height="64" class="me-2" />
                <span href="/" class="fs-4">@PageHeaderTitle</span>
            </a>

            <!-- Site title -->
            

            <!-- Navbar links -->
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><NavLink href="/" class="nav-link px-2 link-dark">Tickets</NavLink></li>
                <li><NavLink href="/dashboard" class="nav-link px-2 link-dark">Dashboard</NavLink></li>
                <li><NavLink href="/articles" class="nav-link px-2 link-dark">Articles</NavLink></li>
                <AuthorizeView Roles="Admin">
                    <li>
                        <NavLink href="/adminpanel" class="nav-link px-2 link-danger fw-bold">
                            Admin Panel
                        </NavLink>
                    </li>
                </AuthorizeView>
            </ul>

            <!-- Auth buttons -->
            <AuthorizeView>
                <Authorized>
                    <div class="text-end">
                        <NavLink href="/profile" class="btn btn-outline-primary">Profile</NavLink>
                        <LogoutButton />
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="text-end">
                        <NavLink href="/login" class="btn btn-outline-primary me-2">Login</NavLink>
                        <NavLink href="/register" class="btn btn-primary">Sign-up</NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </header>

        <CascadingValue Value="SetPageTitle">
            @Body
        </CascadingValue>
    </div>

    <footer class="pt-3 mt-4 bg-light text-center w-100">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Tickets</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Dashboard</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Articles</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2025 Company, Inc</p>
    </footer>
</CascadingAuthenticationState>


@code {
    public string PageHeaderTitle { get; set; } = "Ticketing System";

    private void SetPageTitle(string title)
    {
        PageHeaderTitle = title;
        StateHasChanged();
    }
}
