<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><NavLink href="/" class="nav-link px-2 link-secondary">Tickets</NavLink></li>
    <li><NavLink href="/dashboard" class="nav-link px-2 link-dark">Dashboard</NavLink></li>
    <li><NavLink href="/articles" class="nav-link px-2 link-dark">Articles</NavLink></li>
</ul>