@page "/"
@using TicketingSystemFrontend.Client.DTOs
@using TicketingSystemFrontend.Client.Services.Interfaces
@inject ITicketService TicketService
@using TicketingSystemFrontend.Client.Pages.Tickets.TicketComponents

<PageTitle>Tickets</PageTitle>


<div class="container mt-4">

    <SearchBar />

    <div class="row">
        <FiltersColumn />

        <div class="col-md-9">
            <SortButtons />

            <!-- (Repeated Card Snippets) -->
            <TicketsList />
        </div>
    </div>
</div>


@code {

}