@using MudBlazor

<MudPaper Class="pa-6 d-flex align-center"
          Style="border:2px dashed var(--mud-palette-primary); min-height:150px;"
          @ondrop="@OnDrop"
          @ondragover:preventDefault>
    <div>
        <MudIcon Icon="@Icons.Material.Filled.CloudUpload" Size="Size.Large" Color="Color.Primary" />
        <MudText Typo="Typo.subtitle1">Drag & drop files here or click below</MudText>
        <InputFile OnChange="@OnFilesChanged" multiple style="
            width: 100%;
            height: 100%;
            font-size: 18px;
            padding: 15%;
            padding-right: 200%;
            padding-left: 150%;
            border: 2px solid var(--mud-palette-primary);
            border-radius: 4px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 1);" />
    </div>
</MudPaper>

@code {
    [Parameter]
    public EventCallback<DragEventArgs> OnDrop { get; set; }

    [Parameter]
    public EventCallback<InputFileChangeEventArgs> OnFilesChanged { get; set; }
}