@page "/dashboard"
@using TicketingSystemFrontend.Client.DTOs
@using TicketingSystemFrontend.Client.Services.Interfaces
@inject ITicketService TicketService

<h3>Dashboard</h3>

@if (tickets is null)
{
    <p>Loading...</p>
}
else
{
    <div class="d-flex justify-content-around">
        <StatusDonut Tickets="tickets" />
        <PriorityDonut Tickets="tickets" />
        <CategoryDonut Tickets="tickets" />
    </div>
}

@code {
    private List<TicketDto>? tickets;

    protected override async Task OnInitializedAsync()
    {
        // Получаем все тикеты (без сортировки и фильтрации)
        tickets = await TicketService.GetAllSortFilterAsync();
    }
}
