@page "/profile"
@page "/profile/change-password"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<h3>My Profile</h3>

<NameEdit />
<EmailEdit />
<div>
    <button class="btn btn-success mt-3" @onclick="NavigateToChangePassword">Change Password</button>
</div>

@code {
    private void NavigateToChangePassword()
    {
        NavigationManager.NavigateTo("profile/change-password");
    }
    private void ReturnToProfile()
    {
        NavigationManager.NavigateTo("profile");
    }
}