@using TicketingSystemFrontend.Client.Services.Interfaces.Auth
@inject IUserService UserService

@using static TicketingSystemFrontend.Client.Pages.AdminPanel
<tr>
    <td>@User.Email</td>
    <td>@User.UserName</td>
    <td>
        <select @bind="selectedRole" class="form-select form-select-sm">
            <option value="EndUser">EndUser</option>
            <option value="Agent">Agent</option>
            <option value="Admin">Admin</option>
        </select>
    </td>
    <td>
        <button class="btn btn-primary btn-sm" @onclick="OnChangeRoleClicked">Change Role</button>
    </td>
</tr>

@code {
    [Parameter]
    public UserDto User { get; set; } = default!;


    private string selectedRole = "";

    protected override void OnParametersSet()
    {
        selectedRole = User.Role;
    }

    private async Task OnChangeRoleClicked()
    {
        await UserService.UpdateUserRoleAsync(User.UserName, selectedRole);

        Console.WriteLine($"Change role for {User.Email} to {selectedRole}");
    }
}
